These are Unity Scripts kept as simple as possible.
I am not an expert coder by any means. 
However I do think it is a great way to intrest childeren in mathemeatics and of course it's also great fun.
